<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow existing files and folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # React Router fallback
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
  # Never cache HTML or JSON
  <FilesMatch "\.(html|htm|json)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>

  # JS & CSS - must revalidate
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "no-cache, must-revalidate"
  </FilesMatch>

  # Images, favicon, fonts - cache allowed
  <FilesMatch "\.(png|jpg|jpeg|gif|svg|ico|woff|woff2)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
AddType image/x-icon .ico
DirectoryIndex index.html